@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;1,100&family=Mr+Dafoe&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary:#00c14d;
}
body{
    background: #000000;
    font-family: 'Roboto', 'san-serif';
}

/* Header */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background: transparent;
    z-index: 1000;
}

.logo{
    font-family: "Bauhaus 93 V2";
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 2px;
    font-weight: 800;
    text-decoration: none;
    text-transform: uppercase;
}

.nav{
    display: flex;
    align-items: center;
}

.nav li{
    position: relative;
    list-style: none;
    margin: 0 20px;
}

.nav li::before{
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    height: 3px;
    width: 50%;
    background: var(--primary);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.nav li:hover::before{
    opacity: 1;
    visibility: visible;
}

.nav li a{
    color:#ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px;
}

.nav .booking{
    border: 1px solid var(--primary);
    background: var(--primary);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 2px 10px;
    transition: 0.3s;
}

.nav .booking a {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.nav .booking a ion-icon{
    font-size: 1.3em;
}

.nav .booking:hover{
    background: transparent;
}

.nav.booking:hover::before{
    visibility: hidden;
    opacity: 0;
}

/* Swiper */
.swiper{
    width: 100%;
    height: 100vh;
    overflow:hidden;
}

/* Swiper Control Section  */
.swiper .control {
    position: absolute;
    bottom: 120px;
    width: 300px;
    height: 50px;
    left: 50%;
    transform: translatex(-50%);
    z-index: 1000;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next{
    width: 50px;
    height: 50px;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after{
    font-size: 30px;
    line-height: 0;
    width: 50px;height: 50px;
    background: transparent;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.swiper .swiper-button-prev:hover,
.swiper .swiper-button-next:hover{
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    color: rgba(255, 255, 255, 0.8);
}

.swiper .swiper-pagination{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    gap: 15px;
}

.swiper .swiper-pagination .swiper-pagination-bullet{
    width: 8px;height: 8px;background: transparent;
    opacity: 1;
    border:1px solid rgba(255, 255, 255, 0.5);
    z-index: 1000;
}

.swiper .swiper-pagination .swiper-pagination-bullet-active{
    background: var(--primary);
}

/* Banner */
.banner{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
    z-index: 900;
}

.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    filter: brightness(130%);
}

.banner .shade{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.banner .content-left{
    position: absolute;
    content: '';
    left: 0;top: 0;
    z-index: 1000;
    width: 50%;
    height: 100vh;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur()15px;
    -webkit-mask: linear-gradient(#000000 0 0),linear-gradient(#000000 0 0);
    -webkit-mask-clip: text, padding-box;
    -webkit-mask-composite: xor;
}   

.content-left::before{
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    height: 50%;
    background: var(--primary);
}

.banner .content-right{
    position: absolute;
    content: '';
    right: 0;top: 0;
    z-index: 1000;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.banner .content-left h1,.banner .content-right h1{
    font-family: "Bauhaus 93 V2";
    font-weight: 800;
    font-size: 10em;
    letter-spacing:5px;
    line-height: 1em;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    margin-bottom: 200px;
}

.banner .content-right h1{
    color: #ffffff;
}

.banner .content-left .description{
    position: absolute;
    left: 100px;
    bottom: 20%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.banner .content-left h3{
    font-weight: 500;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.banner .content-left p{
    color: #ffffff;
    font-weight: 200;
    font-size: 0.8em;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.banner .content-left a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 15px 40px;
    background: var(--primary);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

.banner .content-left a:hover{
    background: transparent;
    transition: 0.3s;
}

.banner .content-right h1 span{
    color: var(--primary);
}

.banner .content-right .text-side{
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotateZ(90deg) translateY(-50%);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.8em;
    letter-spacing: 2px;
}

.banner .content-right .text-side::before{
    position: absolute;
    content: '';
    top:-10px;
    transform: translateY(50%);
    width: 100%;
    height: 3px;
    background: var(--primary);
}

 /* Footer  */
 footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    background: transparent;
    z-index: 1000;
 }

 .sci{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
 }

.sci li{
    list-style: none;
}

.sci li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.3em;
    transition: 0.3s;
}

.sci li .share{
    padding: 10px;
    background: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li .share:hover{
    background: #ffffff;
}

.sci li a:hover{
    color: var(--primary);
}

.ask-us{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.chat{
    text-decoration: none;
    color: #ffffff;
    font-size: 2em;
    padding: 10px;
    background: var(--primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.chat:hover{
    background: #ffffff;
    color: var(--primary);
}

.ask-us p{
    color: #ffffff;
    font-weight: 200px;
    letter-spacing: 1px;
}

/* Slight adjustment needed for user with smaller PC screen  */
@media (max-width:1920px){
    .banner .content-left h1{
        font-size: 15em;
        letter-spacing: 2px;
    }

    .banner .content-right h1{
        font-size: 15em;
        letter-spacing: 2px;
    }
}